@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;500;700&family=JetBrains+Mono:wght@400;500;700&family=Orbitron:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-sea-dark text-sea-light font-dm;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-orbitron;
  }
}
